/* You can add global styles to this file, and also import other style files */
@import variables
@import mixins
    
*
    margin: 0
    padding: 0
    box-sizing: border-box
    text-align: center
    justify-content: center

div, nav
    display: flex

.sm-chr
    font-weight: 900