<h1>Add [ITEM]</h1>
<form [formGroup]="myForm">
    Value: {{myForm.value | json}}
    <ul>
        <!--form_data - data for forms-->
        <!--myForm - the actual form-->
        <li *ngFor="let control of form_data?.controls">
            <label> {{control.label}} |{{control.name}}| </label>
            <label *ngIf="isRange(control.type) "> ({{myForm.get(control.name)?.value}}) </label>
            <!--Other Input-->
            <input *ngIf="isInput(control.type)"
            [name]="control.name"
            [type]="control.type"
            [formControlName]="control.name"
            [value]="control.value"
            />
            <!--Range-->
            <input *ngIf="isRange(control.type)"
            [name]="control.name"
            type="range"
            [formControlName]="control.name"
            [value]="control.value"
            [min]="control.validators.min"
            [max]="control.validators.max"
            />
            <!--Select-->
            <select *ngIf="isSelect(control.type)"
            [formControlName]="control.name"
            >
                <option *ngFor="let item of child_list" [value]="item._id">{{item.name}}</option>
            </select>
            <!--Nested (for Exercises in Movement Pattern)-->
            <div 
            class="nested"
            *ngIf="isNested(control.type)"
            [formArrayName]="control.name"
            >
                Value: {{myForm.value[control.name] | json}}
                <!-- control.nested is the criteria-->
                <!-- Loop through the array of FormGroups*****************-->
                <!--<li class="nested-entry" *ngFor="let form of nestedForms[0][control.name].controls" [formGroupName]="form">-->
                
                
                <li class="nested-entry" *ngFor="let nestedForm of nestedForms.controls; let i = index" [formGroupName]="i">
                    <!--[{map-key: map-value}, ...]-->
                    <!-- nestedForm - Every replicated Form Group for varations-->
                    <div class="nested-element" *ngFor="let nestedControl of control!.nested?.controls">
                        <!--[map-key, map-value]-->
                        <!--nested_controls - Each Form control-->
                        
                        <!-- Labels -->
                        <label> {{nestedControl.label}} |{{nestedControl.name}}| </label>

                        <!--Map Key Text Entry-->
                        <input *ngIf="isInput(nestedControl.type)"
                        [name]="nestedControl.name"
                        [formControlName]="nestedControl.name"
                        [type]="nestedControl.type"
                        [value]="nestedControl.value"
                        class="nested-element"
                        />

                        <!--Map Value Select Entry-->
                        <select *ngIf="isSelect(nestedControl.type)"
                        [formControlName]="nestedControl.name"
                        class="nested-element"
                        >
                            <option *ngFor="let item of child_list" [value]="item._id">{{item.name}}</option>
                        </select>

                    </div>
                    <!--Delete One of the nested form groups-->
                    <button class="nested-element" (click)="delNested(i)">Delete</button>
                </li>
                <!--Add a nested form group-->
                <li class="nested-entry"><button (click)="addNested()" >Add {{control.label}}</button></li>
            </div>
        </li>
        <li><button (click)="onSubmit()" [disabled]="myForm.invalid">Submit</button></li>
    </ul>
</form>