.navbar 
    overflow: hidden

.navbar h1,
.dropdown 
    float: left
    overflow: hidden

.dropdown 
    .dropbtn 
        font-size: 16px
        border: none
        outline: none
        background-color: inherit
        font-family: inherit

    &:hover .dropdown-content 
        display: block
    
    .dropdown-content
        display: none
        position: absolute
        background-color: #f9f9f9
        min-width: 160px
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
        z-index: 1
        .links
            float: none
            color: black
            text-decoration: none
            display: block
            text-align: left
            cursor: pointer
            &:hover 
                background-color: #ddd
  