<!--Pick a Option & Save as a Cookie-->
<!--
    To make things easier just do URLs
    Then save specfic thing in backend
-->

<div class="navbar" *ngIf="!workoutDone">
    <h1>Workout:</h1>
    <div class="dropdown">
        <button class="dropbtn">
            <h1 id="picked_workout">{{TITLE}}</h1>
        </button>
        <div *ngIf="canChangeWorkout" class="dropdown-content">
            <div class="links" *ngFor="let item of workout_list" (click)="setWorkout(item)">{{item.name}}</div>
        </div>
    </div>
</div>

<!--Dynamic: [ITEM] depends on workout-->
<nav *ngIf="current_workout?.sections && !workoutDone">
    <!-- IF current workout has movement patterns too it-->

    <ul class="children-list">
        <div *ngFor="let item of current_workout!.sections">
            <!-- FOR Loop through Movement Pattern in Workout Plan-->
            <li (click)="setMovementPattern(item)"
            *ngIf="showMovementPatternDone(item)"
            >
                <span>{{item.name}}</span>
                <ul 
                    *ngIf="current_movement_pattern==item"
                    class="exercise-list"
                >
                    {{output(item)}}
                    <!-- FOR Loop through Exercises(Level, Exercise) in Movement Pattern-->
                    <li *ngFor="let jtem of item!.variations" >
                        
                        <!--[string, Exercise]-->
                        {{output(jtem)}}
                        <span (click)="setExercise(jtem.value)">{{jtem.key}}</span>
                    
                    </li>

                </ul>
            </li>
        </div>
    </ul>
</nav>

<!--        Exercise Widget        -->
<div *ngIf="current_exercise && !workoutDone">

    <!--Dynamic: X chnages with reps-->
    <hr>
    <h3>{{current_exercise!.name}}</h3>
    <h1><span id="progress-field">{{progress}}</span><span>/</span><span>70</span></h1>
    <!--
    Entered reps on press of button is summed into X
        X for easch saved in session via JS
-->
    <form (submit)="onSetDone($event)">
        <ul>
            <li>
                <input type="number" min="0" max="125" name="prog">
                <input type="submit" value="Set Done">
            </li>
        </ul>
    </form>
    <li><button (click)="onMovementPatternDone()" [disabled] = "!setDone">Movement Pattern Done</button></li>
</div>

<br>

<div *ngIf="current_workout">
    <textarea rows="4" cols="50" placeholder="Notes"></textarea>
</div>
<div *ngIf="workoutDone">
    <h1>WORKOUT DONEZO</h1>
    <p>{{workout | json}}</p>
    <button (click) = "onDone()">Submit Workout</button>
</div>


